<div class="custom-article-card">
    <a href="{{ article.url }}" class="custom-article-card__img">
        <img src="{{ article.image.src | image_url: width: 450 }}">
    </a>
    <div class="custom-article-card__content">
        <div class="custom-article-card__content-info">
            <div class="custom-article-card__content-info-read">
                {% if article.metafields.custom.read_time %}
                    {{ article.metafields.custom.read_time }}
                {% endif %}
            </div>
            <div class="custom-article-card__content-info-create">
                {{ article.created_at | date: "%d %b %Y" }}
            </div>
        </div>
        {% if article.tags.size > 0 %}
            <div class="custom-article-card__content-tags">
                {% for tag in article.tags limit: 2 %}
                    <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="custom-article-card__content-tags-item">
                        {{ tag }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
        <a href="{{ article.url }}" class="custom-article-card__content-title">
            {{ article.title }}
        </a>
        {% if article.excerpt != blank %}
            <div class="custom-article-card__content-text">
                {{ article.excerpt }} <a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }}</a>
            </div>    
        {% endif %}
    </div>
</div>