{%- liquid
  if cart == empty
    render 'icon-cart-empty'
  else
    render 'icon-cart'
  endif
-%}
<span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
{%- if cart != empty -%}
  <div class="cart-count-bubble">
    {%- if cart.item_count < 100 -%}
      <span aria-hidden="true">{{ cart.item_count }}</span>
    {%- endif -%}
    <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
  </div>
  <div class="cart-count header">

    <span class="cart-count-name">My cart</span>
    <span class="cart-count-cauner-and-price">
      {{ cart.item_count }} item(s) - {{ cart.total_price | money }}
    </span>
  </div>
{%- endif -%}
