{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'section-featured-blog.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }} {
    background: {{ section.settings.section_background }};
  }
  .section-{{ section.id }}-padding {
    margin-top: {{ section.settings.margin_top }}px;
    margin-bottom: {{ section.settings.margin_bottom }}px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .article-thumbnail__image::before {
    background: {{ section.settings.card_overlay }};
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign posts_displayed = section.settings.blog.articles_count
  if section.settings.post_limit <= section.settings.blog.articles_count
    assign posts_exceed_limit = true
    assign posts_displayed = section.settings.post_limit
  endif
-%}

<div class="blog section-{{ section.id }} gradient{% if section.settings.heading == blank %} no-heading{% endif %}">
  <div class="page-width section-{{ section.id }}-padding">
    {%- unless section.settings.heading == blank -%}
      <div class="blog__title-wrapper">
        <h2
          id="SectionHeading-{{ section.id }}"
          class="h1 blog__title inline-richtext {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
          {% endif %}
        >
          {{ section.settings.heading }}
        </h2>
      </div>
    {%- endunless -%}

    
    <div class="blog__posts-wrapper swiper">
      {%- if section.settings.blog != blank and section.settings.blog.articles_count > 0 -%}
        <div class="blog__posts swiper-wrapper">
          {%- for article in section.settings.blog.articles limit: section.settings.post_limit -%}
            <div class="swiper-slide">
              {% render 'article-card-thumbnail',
                blog: section.settings.blog,
                article: article,
                media_aspect_ratio: 1.66,
                show_image: true,
                show_date: section.settings.show_date,
                show_category: section.settings.show_category,
                show_excerpt: false
              %}
            </div>
          {%- endfor -%}
        </div>
      {%- endif -%}
      
      <div class="swiper-scrollbar"></div>

      <div class="swiper-button__wrapper">
        <div class="swiper-button swiper-button-prev">
          {% render 'icon-chevron', icon: 'left' %}
        </div>
        <div class="swiper-button swiper-button-next">
          {% render 'icon-chevron', icon: 'right' %}
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded',  function() {
        const swiper = new Swiper('.blog__posts-wrapper', {
          direction: 'horizontal',
          slidesPerView: {{ section.settings.columns_mobile }},
          spaceBetween: 20,
          
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },

          // And if we need scrollbar
          scrollbar: {
            el: '.swiper-scrollbar',
          },

          breakpoints: {
            750: {
              slidesPerView: 2
            },
            1000: {
              slidesPerView: {{ section.settings.columns_desktop }}
            }
          }
        });
      });
    </script>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured-blog.name",
  "tag": "section",
  "class": "section-featured-blog",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color",
      "id": "section_background",
      "label": "t:sections.featured-blog.settings.background_color.label",
      "default": "#F8FCFF"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "More articles you might like",
      "label": "t:sections.featured-blog.settings.heading.label"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.featured-blog.settings.blog.label"
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 3,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-blog.settings.post_limit.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-blog.settings.slider.label"
    },
    {
      "type": "range",
      "id": "columns_mobile",
      "min": 1,
      "max": 2,
      "step": 0.1,
      "default": 1.1,
      "label": "t:sections.featured-blog.settings.slider.settings.mobile_layout.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "t:sections.featured-blog.settings.slider.settings.desktop_layout.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-blog.settings.card.label"
    },
    {
      "type": "color_background",
      "id": "card_overlay",
      "label": "t:sections.featured-blog.settings.card.settings.overlay.label",
      "default": "linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.70) 100%)"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.featured-blog.settings.card.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_category",
      "default": true,
      "label": "t:sections.featured-blog.settings.card.settings.show_category.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 80
    },
    {
      "type": "header",
      "content": "t:sections.all.margin.section_margin_heading"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 80,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.margin.margin_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 80,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.margin.margin_bottom",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-blog.presets.name",
      "settings": {
        "blog": "Blog"
      }
    }
  ]
}
{% endschema %}
