{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.6667 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  {%- liquid
    assign has_social_icons = true
    if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
      assign has_social_icons = false
    endif
  -%}

  <div class="footer__content-top page-width">
    <div class="footer__logo-holder">
      {% for block in section.blocks %}
        {%- case block.type -%}
          {%- when 'logo' -%}
            <div class="footer__logo">
              <a href="{{ shop.url }}">{{ block.settings.image | image_url: width: block.settings.image.width | image_tag }}</a>
            </div>
          {%- when 'award' -%}
            <div class="footer__logo-award">
              {{ block.settings.image | image_url: width: block.settings.image.width | image_tag }}
            </div>
        {%- endcase -%}
      {% endfor %}
    </div>
    
    {% for block in section.blocks %}
      {%- case block.type -%}
        {%- when 'link_list' -%}
          <div class="footer__menu-holder">
            {%- if block.settings.menu != blank -%}
              <ul class="footer__menu-list list-unstyled">
                {%- for link in block.settings.menu.links -%}
                  <li class="footer__menu-list--item">
                    <details>
                      <summary
                        href="{{ link.url }}"
                        class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}"
                      >
                        {{ link.title }}
                        {% render 'icon-caret' %}
                      </summary>
                      <ul class="list-unstyled">
                        {%- for childlink in link.links -%}
                          <li>
                            {%- if childlink.links == blank -%}
                              <a
                                href="{{ childlink.url }}"
                                class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}"
                                {% if childlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ childlink.title | escape }}
                              </a>
                            {%- endif -%}
                          </li>
                        {%- endfor -%}
                      </ul>
                    </details>
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </div>
        {%- when 'contact' -%}
          <div class="footer__contacts-block">
            {{ block.settings.content }}
          </div>
      {%- endcase -%}
    {% endfor %}
  </div>
  <div class="footer__content-bottom page-width">
    <div class="footer__social-icons-holder">
      {%- if section.settings.show_social and has_social_icons -%}
        {%- render 'social-icons' -%}
      {%- endif -%}
    </div>
    <div class="footer__copyright-holder">
      <div class="footer__copyright caption">
        <small class="copyright__content">{{ 'footer.copyright.before' | t }} &copy; {{ 'footer.copyright.from_year' | t }}-{{ 'now' | date: '%Y' }} {{ shop.name | link_to: routes.root_url -}}</small>
      </div>
    </div>
    <div class="footer__policies-holder">
      {%- if section.settings.show_policy -%}
        <ul class="policies list-unstyled">
          {%- for link in linklists.footer-bottom-menu-policy.links -%}
            {%- if link != blank -%}
              <li>
                <a href="{{ link.url }}" class="link">{{ link.title }}</a>
              </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      {%- endif -%}
    </div>
  </div>
</footer>

{%- if section.settings.enable_country_selector or section.settings.enable_language_selector -%}
  <script src="{{ 'localization-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings":[
        {
          "type": "image_picker",
          "id": "image",
          "label": "Logo"
        }
      ]
    },
    {
      "type": "award",
      "name": "Awards",
      "settings":[
        {
          "type": "image_picker",
          "id": "image",
          "label": "Awards image"
        }
      ]
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "contact",
      "name": "Contact",
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "Contact information"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__8.content",
      "info": "t:sections.footer.settings.header__8.info"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": false,
      "label": "t:sections.footer.settings.show_policy.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}
