{% if section.blocks.size > 0 %}
  <div class="slider-product-proposal">
    <div class="container slider-product-proposal__container">
      <div class="slider-product-proposal__content">
        <h2 class="slider-product-proposal__title"></h2>
        <div class="slider-product-proposal__subtitle"></div>
      </div>
      <div class="slider-product-proposal__slider">
        <div class="slider-product-proposal__slider-list">
          {% for block in section.blocks %}
            {% if block.settings.proposal_product != blank %}
              {% assign product = block.settings.proposal_product %}

              <div class="slider-product-proposal__slider-item {% if block.settings.enable_cart == true %}enable_cart{% endif %}">
                <div class="slider-item__image">
                  <img
                    src="{{ product.featured_image | img_url: '700x' }}"
                    alt="{{ product.featured_image.alt | default: product.title  }}"
                    class="slider-item__picture"
                    loading="lazy"
                  >
                </div>

                <div class="slider-product-hover-wrapper">
                  <div class="menu__cart-product_hover-block-style">

                    <div class="menu__cart-product_view-details">
                      <a href="{{product.url}}" class="menu__cart-product__link">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          version="1.1"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          xmlns:svgjs="http://svgjs.com/svgjs"
                          width="15"
                          height="15"
                          x="0"
                          y="0"
                          viewBox="0 0 24 24"
                          style="enable-background:new 0 0 512 512"
                          xml:space="preserve"
                          class=""
                        >
                          <g><path d="M24 3H4.242L4.2 2.649A3 3 0 0 0 1.222 0H0v2h1.222a1 1 0 0 1 .993.883L3.8 16.351A3 3 0 0 0 6.778 19H20v-2H6.778a1 1 0 0 1-.993-.884L5.654 15h16.182Z" fill="#ffffff" data-original="#000000" class=""></path><circle cx="7" cy="22" r="2" fill="#ffffff" data-original="#000000" class=""></circle><circle cx="17" cy="22" r="2" fill="#ffffff" data-original="#000000" class=""></circle></g>
                        </svg>
                      </a>
                    </div>

                    <div class="menu__cart-product_add-to-cart">
                      <a href="{{product.url}}" class="menu__cart-product__link-options">
                        <span class="menu__cart-product_svg">
                          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="18" height="18" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M23.821 11.181C22.943 9.261 19.5 3 12 3S1.057 9.261.179 11.181a1.969 1.969 0 0 0 0 1.64C1.057 14.739 4.5 21 12 21s10.943-6.261 11.821-8.181a1.968 1.968 0 0 0 0-1.638ZM12 18a6 6 0 1 1 6-6 6.006 6.006 0 0 1-6 6Z" fill="#ffffff" data-original="#000000" class=""></path><circle cx="12" cy="12" r="4" fill="#ffffff" data-original="#000000" class=""></circle></g></svg>
                        </span>
                      </a>
                    </div>

                    <div class="menu__cart-product-quick-view">
                      <a href="{{product.url}}" class="menu__cart-product__link">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          version="1.1"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          xmlns:svgjs="http://svgjs.com/svgjs"
                          width="15"
                          height="15"
                          x="0"
                          y="0"
                          viewBox="0 0 24 24"
                          style="enable-background:new 0 0 512 512"
                          xml:space="preserve"
                          class=""
                        >
                          <g><path d="M7.896 16.104a1.5 1.5 0 1 1 2.121-2.121c1.326 1.326 3.64 1.327 4.966 0l4.989-4.989c1.369-1.369 1.369-3.597 0-4.966s-3.597-1.369-4.966 0a1.5 1.5 0 1 1-2.121-2.121 6.518 6.518 0 0 1 9.208 0 6.518 6.518 0 0 1 0 9.208l-4.989 4.989c-1.27 1.27-2.937 1.904-4.604 1.904s-3.335-.635-4.604-1.904Zm-1.384 7.893a6.494 6.494 0 0 0 4.604-1.904 1.5 1.5 0 1 0-2.121-2.121 3.515 3.515 0 0 1-4.966 0 3.516 3.516 0 0 1 0-4.966l4.961-4.961a3.514 3.514 0 0 1 4.966 0 1.5 1.5 0 1 0 2.121-2.121 6.518 6.518 0 0 0-9.208 0l-4.962 4.961a6.518 6.518 0 0 0 0 9.208 6.49 6.49 0 0 0 4.604 1.904Z" fill="#ffffff" data-original="#000000" class=""></path></g>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>

                <div class="slider-product_down-box">
                  <div class="menu__cart-product__title">{{ product.title }}</div>

                  <div class="no-js-hidden" id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
                    {%-
                      render 'price',
                      product: product money,
                      use_variant: true,
                      show_badges: false,
                      price_class: 'price--large',
                    -%}
                  </div>

                  {% comment %} rating {% endcomment %}
                  {%- if show_rating and product.metafields.reviews.rating.value != blank -%}
                    {% liquid
                      assign rating_decimal = 0
                      assign decimal = product.metafields.reviews.rating.value.rating | modulo: 1
                      if decimal >= 0.3 and decimal <= 0.7
                        assign rating_decimal = 0.5
                      elsif decimal > 0.7
                        assign rating_decimal = 1
                      endif
                    %}
                    <div
                      class="rating"
                      role="img"
                      aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: product.metafields.reviews.rating.value, rating_max: product.metafields.reviews.rating.value.scale_max }}"
                    >
                      <span
                        aria-hidden="true"
                        class="rating-star color-icon-{{ settings.accent_icons }}"
                        style="--rating: {{ product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"
                      ></span>
                    </div>
                    <p class="rating-text caption">
                      <span aria-hidden="true">
                        {{- product.metafields.reviews.rating.value }} /
                        {{ product.metafields.reviews.rating.value.scale_max -}}
                      </span>
                    </p>
                    <p class="rating-count caption">
                      <span aria-hidden="true">({{ product.metafields.reviews.rating_count }})</span>
                      <span class="visually-hidden">
                        {{- product.metafields.reviews.rating_count }}
                        {{ 'accessibility.total_reviews' | t -}}
                      </span>
                    </p>
                  {%- endif -%}

                  <div
                    product-id="{{ product.id }}"
                    product-handle="{{ product.handle }}"
                    class="alireviews-review-star-rating"
                  ></div>

                  {% comment %} rating {% endcomment %}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}

{{ 'slider-products.css' | asset_url | stylesheet_tag }}
{{ 'slick.css' | asset_url | stylesheet_tag }}
<script src="{{ 'jquery-3.7.0.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'slick.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    $('#shopify-section-{{section.id}} .slider-product-proposal__slider-list').slick({
      infinite: true,
      slidesToShow: {{ section.settings.slider_items }},
      slidesToScroll: 1,
      responsive: [
        {
          breakpoint: 1380,
          settings: {
            slidesToShow:  2,
            slidesToScroll: 1,
            arrows: false
          }
        },
        {
          breakpoint: 576,
          settings: {
            slidesToShow:  1,
            slidesToScroll: 1,
            arrows: false
          }
        }
      ]
    });

  });
</script>
{% schema %}
{
  "name": "Slider Products",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_rating.label",
      "info": "t:sections.featured-collection.settings.show_rating.info"
    },
    {
      "type": "range",
      "id": "slider_items",
      "min": 1,
      "max": 5,
      "step": 1,
      "label": "Items per page",
      "default": 3
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Proposal product",
      "settings": [
        {
          "type": "product",
          "id": "proposal_product",
          "label": "Our proposal Product"
        },
        {
          "type": "checkbox",
          "id": "enable_cart",
          "label": "Cart on"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slider Products"
    }
  ]
}
{% endschema %}
